<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">S U M M A R Y</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
		I have 7.9 years of experience in designing and enterprise applications using Java, Spring Boot, Apache Spark, Kafka, AWS, Microservcies, REST, Neo4j, MySQL, TDD and MongoDB. <br/><br/>		
		Experience working on data streaming and analytics. <br/><br/>
		Expertise in data structure and algorithm. <br/><br/>
		Experience working in Telecom and Investment Banking domains. <br/><br/>
		Experience working on social graph, graph database, and recommender system. <br/><br/>
		Volunteer Art of Living since 2012. <br/><br/>
		</div>
		<br>
	</div>
</div>
