<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
		I have 7.9 years of experience in designing and developing applications using Java, Spring, Apache Spark, Kafka, REST, Spring Boot, Neo4j, MySQL, TDD and MongoDB.			
		Worked on data streaming and analytics. 
		Expertise in data structure and algorithm.
		Experience working in Telecom and Investment Banking domains
		Experience working on social graph, graph database, and recommender system
		Quick and self-learner of new technologies.
		Effective communications and presentation skills,
		Received Best Team Award, Wireless and Convergence Department at Aricent Group 
		Ranked among top 200 coders in Amazon Ninja Coder
		Volunteer Art of Living since 2012.
		</div>
		<br>
	</div>
</div>
